h1{
    margin: 1rem auto;
}
main{
    width: 60rem;
    margin: 2rem auto;
    
}
main ul{
    line-height: 4.5rem;
}
ul > li{
    padding: 1rem;
    background-color: #2980b9;
    color: #fff;
    border-radius: 2rem;
    margin: 2rem 0;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.3);
}
main ul > li:nth-of-type(2n+2){
    background: #ccc;
    color: inherit;
}
ul li img{
    float: right;
}
#map_id{
    display: block;
    height: 50rem;
    width: 100%;
}
button{
    height: 100%;
}